# <center>python数据清洗<center>

Pandas数据清洗流程：      
- 1.数据的读写
- 2.数据的探索与描述
- 3.数据的选择与整理
- 4.数据的分组
- 5.数据的分割、合并以及重塑、透视
- 6.缺失值、异常值

## 1、数据的读取

In [1]:
import pandas as pd
import numpy as np

In [6]:
#读入淘宝数据集并赋值给df
df = pd.read_csv(r"D:\data\taobao_data.csv")

In [34]:
#查看数据的前五行
df.head()  #默认显示前五行

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江  3721860.0
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏   763401.0

In [7]:
#查看数据后五行
df.tail()

                                    宝贝     价格   成交量        卖家  位置
95  母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0  4041    欧芮嘉旗舰店  湖北
96   母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0  4023     浅恋旗舰店  浙江
97    母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0  4000   若澜锦蒂旗舰店  浙江
98       母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套  498.0  3968     蕴涵旗舰店  江苏
99   中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0  3956  潮流前线9170  浙江

In [8]:
#进行有放回抽样,随机抽取三条数据
df.sample(3,replace=True)

                                   宝贝     价格   成交量         卖家  位置
75   中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0  4460      hi大脚丫  北京
81  中老年女装夏装假两件短袖雪纺衫40-50岁妈妈装上衣 中年女士套装   88.0  4365  江苏妈妈装厂家直销  江苏
99  中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0  3956   潮流前线9170  浙江

## 2、数据的探索

In [9]:
#快速了解数据的结构,查看数据详细信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
宝贝     100 non-null object
价格     100 non-null float64
成交量    100 non-null int64
卖家     100 non-null object
位置     100 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [10]:
#快速查看数据的描述性统计信息
df.describe()

               价格          成交量
count  100.000000    100.00000
mean   231.669000   6388.93000
std    130.971061   2770.07536
min     29.000000   3956.00000
25%    128.750000   4476.50000
50%    198.000000   5314.50000
75%    298.000000   7053.75000
max    698.000000  16647.00000

## 3、数据的选择与整理

行的选择

In [11]:
#选择0~4行方法一
df.loc[0:4]  #loc是基于标签的索引,方括号里边填的是标签信息

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [12]:
#选择0~4行方法二
df.iloc[0:5] #iloc是基于位置的索引,方括号中填的是位置信息,切取连续信息时,最后位置切不到

                                 宝贝     价格    成交量       卖家  位置
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏

In [13]:
#选择不连续的1,3,5条记录方法一
df.loc[[1,3,5]] #切取不连续记录的时候,需要把标签打包到同一个列表中

                                   宝贝     价格    成交量      卖家  位置
1      中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045  夏洛特的文艺  上海
3    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340   韶妃旗舰店  浙江
5  中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664  依安雅旗舰店  江苏

In [14]:
#选择不连续的1,3,5条记录方法二
df.iloc[[1,3,5]]

                                   宝贝     价格    成交量      卖家  位置
1      中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045  夏洛特的文艺  上海
3    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340   韶妃旗舰店  浙江
5  中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664  依安雅旗舰店  江苏

列的选择

In [35]:
#选择"宝贝"和"价格"这两列方法一
df.loc[:,"宝贝":"价格"] #如果只切列信息,行信息是不能省略的

                                     宝贝     价格
0        新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0
4      中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0
19       中老年女裤夏装薄款中年松紧高腰九分裤老年人宽松大码妈妈裤子女  129.0
20     中老年女装七分袖衬衫妈妈装夏装衬衣50岁老年人母亲节夏季衣服40  189.0
21    母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套  198.0
22       中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服  588.0
23      母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁  263.0
24    母亲节衣服夏季妈妈夏装上衣中年短袖t恤40-50岁中老年人女装套装  198.0
25    妈妈夏装套装40-50岁中年人两件套中老年女装雪纺短袖t恤上衣裤子  399.0
26      母亲节中老年女装春装套装妈妈装上衣+裤子中年人T恤夏装两件套装  128.0
27    母亲节衣服妈妈装夏装雪纺套装中老年女装40-50岁短袖修身大码T恤  396.0
28    妈妈装套装春夏装短袖上衣中年人大码40-50岁中老年女装T恤雪纺衫   49.0
29    中老年女装妈妈装夏装中年两件套装40-50岁印花套装老年人夏装t恤  108.0
..                                  ...    ...
70   母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤  320.0
71   中老年人女装夏装套装60-70-80岁老人衣服奶奶装夏季中袖上衣裤子  318.0
72  妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣  177.0
73       新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄  288.0
74    妈妈装夏装套装40-50岁中老年女装短袖t恤运动上衣+裤子真两件套  218.0
75     中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0
76      中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣   59.9
77       母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女  108.0
78       胖妈妈装夏装短袖中年女装大码夏季棉麻上衣中老年T恤母亲节衣服  298.0
79   中老年人女妈妈春夏装套装60-70-80岁奶奶装七分袖上衣裤子两件套   98.0
80   中老年女装妈妈装短袖雪纺衫大码宽松40-50岁上衣17夏装新品T恤衫  190.0
81    中老年女装夏装假两件短袖雪纺衫40-50岁妈妈装上衣 中年女士套装   88.0
82       母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫  316.0
83       中老年女裤春夏季高腰妈妈裤子松紧腰大码女装九分裤宽松休闲女裤  129.0
84    中年妈妈装夏装两件套装中老年女装短袖雪纺衫t恤新款上衣40-50岁  116.0
85      女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子  100.0
86       新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖   98.0
87        香颜妈妈装春装连衣裙中老年女装夏装两件套雪纺衫中年套装裙子  252.0
88    母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装   49.0
89    中老年女装春夏装套装短袖T恤妈妈装长袖蕾丝连衣裙40-50岁两件套  108.0
90    中年妈妈装夏装短袖t恤两件套装中老年女装中袖雪纺衫40-50岁上衣  116.0
91     母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子  306.0
92     母亲节衣服夏季中年女装连衣裙中长款裙子中老年妈妈装夏装40岁50  275.0
93    中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服  178.0
94  妈妈装春装外套 中年人40-50岁上衣中老年女装2017夏装新款两件套  398.0
95   母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0
96    母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0
97     母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0
98        母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套  498.0
99    中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0

[100 rows x 2 columns]

In [17]:
#选择"宝贝"和"价格"这两列方法二
df.iloc[:,0:2]

                                     宝贝     价格
0        新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0
4      中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0
19       中老年女裤夏装薄款中年松紧高腰九分裤老年人宽松大码妈妈裤子女  129.0
20     中老年女装七分袖衬衫妈妈装夏装衬衣50岁老年人母亲节夏季衣服40  189.0
21    母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套  198.0
22       中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服  588.0
23      母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁  263.0
24    母亲节衣服夏季妈妈夏装上衣中年短袖t恤40-50岁中老年人女装套装  198.0
25    妈妈夏装套装40-50岁中年人两件套中老年女装雪纺短袖t恤上衣裤子  399.0
26      母亲节中老年女装春装套装妈妈装上衣+裤子中年人T恤夏装两件套装  128.0
27    母亲节衣服妈妈装夏装雪纺套装中老年女装40-50岁短袖修身大码T恤  396.0
28    妈妈装套装春夏装短袖上衣中年人大码40-50岁中老年女装T恤雪纺衫   49.0
29    中老年女装妈妈装夏装中年两件套装40-50岁印花套装老年人夏装t恤  108.0
..                                  ...    ...
70   母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤  320.0
71   中老年人女装夏装套装60-70-80岁老人衣服奶奶装夏季中袖上衣裤子  318.0
72  妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣  177.0
73       新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄  288.0
74    妈妈装夏装套装40-50岁中老年女装短袖t恤运动上衣+裤子真两件套  218.0
75     中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0
76      中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣   59.9
77       母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女  108.0
78       胖妈妈装夏装短袖中年女装大码夏季棉麻上衣中老年T恤母亲节衣服  298.0
79   中老年人女妈妈春夏装套装60-70-80岁奶奶装七分袖上衣裤子两件套   98.0
80   中老年女装妈妈装短袖雪纺衫大码宽松40-50岁上衣17夏装新品T恤衫  190.0
81    中老年女装夏装假两件短袖雪纺衫40-50岁妈妈装上衣 中年女士套装   88.0
82       母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫  316.0
83       中老年女裤春夏季高腰妈妈裤子松紧腰大码女装九分裤宽松休闲女裤  129.0
84    中年妈妈装夏装两件套装中老年女装短袖雪纺衫t恤新款上衣40-50岁  116.0
85      女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子  100.0
86       新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖   98.0
87        香颜妈妈装春装连衣裙中老年女装夏装两件套雪纺衫中年套装裙子  252.0
88    母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装   49.0
89    中老年女装春夏装套装短袖T恤妈妈装长袖蕾丝连衣裙40-50岁两件套  108.0
90    中年妈妈装夏装短袖t恤两件套装中老年女装中袖雪纺衫40-50岁上衣  116.0
91     母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子  306.0
92     母亲节衣服夏季中年女装连衣裙中长款裙子中老年妈妈装夏装40岁50  275.0
93    中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服  178.0
94  妈妈装春装外套 中年人40-50岁上衣中老年女装2017夏装新款两件套  398.0
95   母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0
96    母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0
97     母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0
98        母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套  498.0
99    中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0

[100 rows x 2 columns]

In [18]:
# 选择前2列数据
df[["宝贝","价格"]]

                                     宝贝     价格
0        新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0
4      中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0
19       中老年女裤夏装薄款中年松紧高腰九分裤老年人宽松大码妈妈裤子女  129.0
20     中老年女装七分袖衬衫妈妈装夏装衬衣50岁老年人母亲节夏季衣服40  189.0
21    母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套  198.0
22       中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服  588.0
23      母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁  263.0
24    母亲节衣服夏季妈妈夏装上衣中年短袖t恤40-50岁中老年人女装套装  198.0
25    妈妈夏装套装40-50岁中年人两件套中老年女装雪纺短袖t恤上衣裤子  399.0
26      母亲节中老年女装春装套装妈妈装上衣+裤子中年人T恤夏装两件套装  128.0
27    母亲节衣服妈妈装夏装雪纺套装中老年女装40-50岁短袖修身大码T恤  396.0
28    妈妈装套装春夏装短袖上衣中年人大码40-50岁中老年女装T恤雪纺衫   49.0
29    中老年女装妈妈装夏装中年两件套装40-50岁印花套装老年人夏装t恤  108.0
..                                  ...    ...
70   母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤  320.0
71   中老年人女装夏装套装60-70-80岁老人衣服奶奶装夏季中袖上衣裤子  318.0
72  妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣  177.0
73       新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄  288.0
74    妈妈装夏装套装40-50岁中老年女装短袖t恤运动上衣+裤子真两件套  218.0
75     中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0
76      中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣   59.9
77       母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女  108.0
78       胖妈妈装夏装短袖中年女装大码夏季棉麻上衣中老年T恤母亲节衣服  298.0
79   中老年人女妈妈春夏装套装60-70-80岁奶奶装七分袖上衣裤子两件套   98.0
80   中老年女装妈妈装短袖雪纺衫大码宽松40-50岁上衣17夏装新品T恤衫  190.0
81    中老年女装夏装假两件短袖雪纺衫40-50岁妈妈装上衣 中年女士套装   88.0
82       母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫  316.0
83       中老年女裤春夏季高腰妈妈裤子松紧腰大码女装九分裤宽松休闲女裤  129.0
84    中年妈妈装夏装两件套装中老年女装短袖雪纺衫t恤新款上衣40-50岁  116.0
85      女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子  100.0
86       新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖   98.0
87        香颜妈妈装春装连衣裙中老年女装夏装两件套雪纺衫中年套装裙子  252.0
88    母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装   49.0
89    中老年女装春夏装套装短袖T恤妈妈装长袖蕾丝连衣裙40-50岁两件套  108.0
90    中年妈妈装夏装短袖t恤两件套装中老年女装中袖雪纺衫40-50岁上衣  116.0
91     母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子  306.0
92     母亲节衣服夏季中年女装连衣裙中长款裙子中老年妈妈装夏装40岁50  275.0
93    中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服  178.0
94  妈妈装春装外套 中年人40-50岁上衣中老年女装2017夏装新款两件套  398.0
95   母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0
96    母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0
97     母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0
98        母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套  498.0
99    中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0

[100 rows x 2 columns]

In [20]:
# 选择"宝贝","价格","卖家"三列数据
df.loc[:,["宝贝","价格","卖家"]]

                                     宝贝     价格               卖家
0        新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0          夏奈凤凰旗舰店
1        中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0           夏洛特的文艺
2      母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0            云新旗舰店
3      母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0            韶妃旗舰店
4      中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0           千百奈旗舰店
5    中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0           依安雅旗舰店
6     妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0           千百萌旗舰店
7     中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0         zxtvszml
8      妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0            ceo放牛
9         中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0            简港旗舰店
10     母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0            朵莹旗舰店
11      母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0             依诗曼妮
12     母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装套装上衣两件套  298.0            夕牧旗舰店
13      母亲节中老年女装短袖t恤40-50岁中年妈妈装夏装雪纺两件套装  124.0          绰美佳人旗舰店
14       中老年女装春装真两件套长袖针织开衫外套妈妈装夏装短袖T恤上衣  138.0              冉献兵
15     母亲节衣服夏季中年女装夏装短袖40-50岁妈妈装中老年女装连衣裙  298.0           蒲洛妃旗舰店
16      母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0           薇诗琪旗舰店
17    中老年人女装妈妈装夏装大码短袖T恤中年妇女夏季40-50岁新款上衣  298.0            网罗世间物
18  中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套  399.0           玛依恋旗舰店
19       中老年女裤夏装薄款中年松紧高腰九分裤老年人宽松大码妈妈裤子女  129.0   loueddssd倍艾旗舰店
20     中老年女装七分袖衬衫妈妈装夏装衬衣50岁老年人母亲节夏季衣服40  189.0         纳笛佳女装旗舰店
21    母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套  198.0            简港旗舰店
22       中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服  588.0         潮流前线9170
23      母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁  263.0          胖织缘福旗舰店
24    母亲节衣服夏季妈妈夏装上衣中年短袖t恤40-50岁中老年人女装套装  198.0            卧雪旗舰店
25    妈妈夏装套装40-50岁中年人两件套中老年女装雪纺短袖t恤上衣裤子  399.0           衣之绒旗舰店
26      母亲节中老年女装春装套装妈妈装上衣+裤子中年人T恤夏装两件套装  128.0           康乃馨老年装
27    母亲节衣服妈妈装夏装雪纺套装中老年女装40-50岁短袖修身大码T恤  396.0            妈咪衣橱纺
28    妈妈装套装春夏装短袖上衣中年人大码40-50岁中老年女装T恤雪纺衫   49.0           爱莱嘉旗舰店
29    中老年女装妈妈装夏装中年两件套装40-50岁印花套装老年人夏装t恤  108.0              高康洁
..                                  ...    ...              ...
70   母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤  320.0            朵莹旗舰店
71   中老年人女装夏装套装60-70-80岁老人衣服奶奶装夏季中袖上衣裤子  318.0          晨旭服饰678
72  妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣  177.0            步古旗舰店
73       新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄  288.0       妈妈装工厂店1988
74    妈妈装夏装套装40-50岁中老年女装短袖t恤运动上衣+裤子真两件套  218.0            第二号鞋铺
75     中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0            hi大脚丫
76      中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣   59.9      便宜才是硬道理1234
77       母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女  108.0        wonwon942
78       胖妈妈装夏装短袖中年女装大码夏季棉麻上衣中老年T恤母亲节衣服  298.0           伊秋芙旗舰店
79   中老年人女妈妈春夏装套装60-70-80岁奶奶装七分袖上衣裤子两件套   98.0            孝义妈妈装
80   中老年女装妈妈装短袖雪纺衫大码宽松40-50岁上衣17夏装新品T恤衫  190.0           芭蒂卡旗舰店
81    中老年女装夏装假两件短袖雪纺衫40-50岁妈妈装上衣 中年女士套装   88.0        江苏妈妈装厂家直销
82       母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫  316.0            香颜旗舰店
83       中老年女裤春夏季高腰妈妈裤子松紧腰大码女装九分裤宽松休闲女裤  129.0         艾尔梦艺娜旗舰店
84    中年妈妈装夏装两件套装中老年女装短袖雪纺衫t恤新款上衣40-50岁  116.0          金星靓雅服装店
85      女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子  100.0       taylor3699
86       新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖   98.0      bobolove987
87        香颜妈妈装春装连衣裙中老年女装夏装两件套雪纺衫中年套装裙子  252.0            香颜旗舰店
88    母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装   49.0             金良国际
89    中老年女装春夏装套装短袖T恤妈妈装长袖蕾丝连衣裙40-50岁两件套  108.0          依人怡慧no1
90    中年妈妈装夏装短袖t恤两件套装中老年女装中袖雪纺衫40-50岁上衣  116.0          金星靓雅服装店
91     母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子  306.0  sonmellny尚曼妮旗舰店
92     母亲节衣服夏季中年女装连衣裙中长款裙子中老年妈妈装夏装40岁50  275.0            浅恋旗舰店
93    中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服  178.0          凯利娜格旗舰店
94  妈妈装春装外套 中年人40-50岁上衣中老年女装2017夏装新款两件套  398.0  qianyaofushi888
95   母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0           欧芮嘉旗舰店
96    母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0            浅恋旗舰店
97     母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0          若澜锦蒂旗舰店
98        母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套  498.0            蕴涵旗舰店
99    中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0         潮流前线9170

[100 rows x 3 columns]

区域块的选择

In [21]:
#选择前3行，前2列
df.iloc[:3,:2]

                                 宝贝     价格
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0

In [23]:
# 用iloc方法选择70——74行,价格和卖家这两列
df.iloc[70:75,[1,3]]

       价格          卖家
70  320.0       朵莹旗舰店
71  318.0     晨旭服饰678
72  177.0       步古旗舰店
73  288.0  妈妈装工厂店1988
74  218.0       第二号鞋铺

In [24]:
# 选择"宝贝"和"价格"两列和前三行数据区域
df.loc[0:2,"宝贝":"价格"]  #这里的0:2是行索引的标签,不是位置

                                 宝贝     价格
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0

In [25]:
#增加一列销售额
df["销售额"] = df["价格"]*df["成交量"]

In [36]:
(df["价格"]<100)&(df["成交量"]>=8000)

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [26]:
# 过滤掉价格>=100,成交量<8000的商品信息
df[(df["价格"]<100)&(df["成交量"]>=8000)]

                                 宝贝    价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤  99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤  59.0  12939   千百奈旗舰店  江苏   763401.0

In [29]:
# 将位置设置为索引
df1 = df.set_index("位置")
df1.head()

                                  宝贝     价格    成交量       卖家        销售额
位置
江苏    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  1648053.0
上海    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  4016870.0
江苏  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  4010484.0
浙江  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  3721860.0
江苏  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店   763401.0

In [30]:
#根据索引排序
df1.sort_index()

,宝贝,价格,成交量,卖家,销售额
位置,,,,,
上海,中老年女装夏装套装加肥加大码T恤上衣妈妈装时尚短袖夏季两件套,298.0,5325,简港旗舰店,1586850.0
上海,中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装,286.0,14045,夏洛特的文艺,4016870.0
上海,中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套,29.0,4752,佳福妈妈商城,137808.0
上海,母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套,198.0,7466,简港旗舰店,1478268.0
上海,母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装,49.0,4164,金良国际,204036.0
上海,母亲节衣服妈妈装夏装套装短袖中年人40-50岁中老年女装T恤两件套,128.0,4718,妃莲慕旗舰店,603904.0
上海,中老年女装夏装短袖t恤衫中年妇女母亲节衣服妈妈装雪纺套装上衣,99.0,4572,xudong158,452628.0
上海,母亲节衣服妈妈装夏装套装40-50岁中年两件套中老年女装短袖雪纺,138.0,6037,妃莲慕旗舰店,833106.0
上海,中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套,189.0,11632,简港旗舰店,2198448.0
上海,中老年女装夏装连衣裙中年雪纺上衣妈妈装中长款40-50岁大码裙子,198.0,5304,婆家娘家商城,1050192.0
北京,新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄,288.0,4500,妈妈装工厂店1988,1296000.0
北京,新款妈妈装连衣裙中长款短袖夏装中年妇女40-50大码气质打底裙子,168.0,5209,凯飞服饰1717,875112.0
北京,中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏,138.0,4460,hi大脚丫,615480.0
北京,母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女,108.0,4415,wonwon942,476820.0
北京,女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子,100.0,4271,taylor3699,427100.0
北京,新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖,98.0,4261,bobolove987,417578.0
广东,妈妈装春装大码女装雪纺连衣裙开衫女2017夏装新款中老年两件套装,326.0,5164,安静式风格,1683464.0
江苏,中老年人女装夏装短袖t恤妈妈两件套装中年夏季上衣宽松40-50岁,96.0,4961,金星靓雅服装店,476256.0
江苏,母亲节衣服夏季中老年女装夏装短袖套装雪纺衫T恤妈妈装两件套,498.0,3968,蕴涵旗舰店,1976064.0
江苏,中老年人女装套装夏装妈妈装套装60-70-80岁老奶奶短袖上衣七分裤,198.0,5348,kewang5188,1058904.0
江苏,中年女妈妈夏装套装短袖t恤雪纺衫中老年套装两件套女母亲节衣服,228.0,5506,名瑾旗舰店,1255368.0
江苏,母亲节衣服中老年女装夏装新款棉麻套装妈妈装短袖上衣阔腿裤大码,198.0,5611,永酷相衣,1110978.0
江苏,妈妈装夏装套装短袖中年人大码40-50岁中老年女装T恤雪纺衫两件套,168.0,5641,wuweihua0809,947688.0
江苏,母亲节衣服夏季中年女装夏装2017新款上衣雪纺衫妈妈40-50岁套装,398.0,5210,尼罗鹤旗舰店,2073580.0
江苏,中老年女装夏装套装棉麻两件套中年妈妈装短袖T恤 奶奶装上衣裤子,528.0,4923,歌迪凤凰旗舰店,2599344.0
江苏,中老年女装套装妈妈装夏装大码奶奶装50-6070岁棉麻短袖上衣+裤子,188.0,4560,白衣不倾城,857280.0
江苏,中老年女装夏装套装 妈妈装夏季短袖T恤大码上衣老年人宽松两件套,398.0,4761,时尚_miss,1894878.0
江苏,中老年人女装夏装套装60-70-80岁老人衣服奶奶装夏季中袖上衣裤子,318.0,4512,晨旭服饰678,1434816.0
江苏,妈妈装夏装套装40-50岁中老年女装短袖t恤运动上衣+裤子真两件套,218.0,4482,第二号鞋铺,977076.0
江苏,中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣,59.9,4421,便宜才是硬道理1234,264817.9
...,...,...,...,...,...
浙江,母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣,258.0,11568,朵莹旗舰店,2984544.0
浙江,母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套,279.0,13340,韶妃旗舰店,3721860.0
浙江,母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50,181.0,4023,浅恋旗舰店,728163.0
浙江,母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙,195.0,4000,若澜锦蒂旗舰店,780000.0
浙江,母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫,316.0,4314,香颜旗舰店,1363224.0
浙江,中老年女装夏装套装妈妈装两件套雪纺衫中年春装T恤母亲节上衣服,236.0,5908,香颜旗舰店,1394288.0
浙江,妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣,177.0,4502,步古旗舰店,796854.0
浙江,母亲节中年女装春装套装40-50岁妈妈装夏装短袖t恤中老年人上衣潮,228.0,5834,朵莹旗舰店,1330152.0
浙江,中老年女夏装妈妈装奶奶宽松亚麻短袖T恤上衣裤子两件套棉麻套装,198.0,5647,妈妈之美服饰,1118106.0
浙江,中老年人女装夏装妈妈装套装短袖上衣中年七分裤子大码运动两件套,128.0,5603,showcai谷川专卖店,717184.0
浙江,母亲节衣服妈妈装两件套短袖夏装中老年女装套装T恤40-50岁雪纺衫,168.0,5580,陌小柒服饰旗舰店,937440.0
浙江,妈妈夏装套装t恤中年女装春装雪纺衫+阔腿裤老年两件套新款40岁50,698.0,5197,简狐旗舰店,3627506.0
浙江,母亲节中老年女装40-50岁妈妈装夏装中年t恤短袖上衣衣服春装套装,109.0,5187,mitchsheeps旗舰店,565383.0
浙江,母亲节衣服中老年女装春装40-50岁中年女上衣T恤妈妈装夏装打底衫,198.0,5171,爱米雪旗舰店,1023858.0
浙江,中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫,688.0,3956,潮流前线9170,2721728.0
浙江,母亲节衣服夏季妈妈夏装上衣中年短袖t恤40-50岁中老年人女装套装,198.0,7077,卧雪旗舰店,1401246.0
浙江,母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁,263.0,7147,胖织缘福旗舰店,1879661.0
浙江,中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服,588.0,7166,潮流前线9170,4213608.0
浙江,母亲节衣服中老年女装宽松上衣中年妈妈夏装短袖t恤40-50岁套装60,318.0,4695,拓芙尼旗舰店,1493010.0
浙江,母亲节衣服妈妈夏装短袖套装中老年人女装两件套奶奶宽松大码春装,349.0,4656,拓芙尼旗舰店,1624944.0
浙江,中年妈妈装夏装套装中老年人女装春装上衣裤子两件套奶奶夏季短袖,558.0,5918,发财花旗舰店,3302244.0
浙江,母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤,320.0,4555,朵莹旗舰店,1457600.0
浙江,母亲节妈妈夏装T恤40-50岁中年女装两件套装2017新款中老年人衣服,228.0,4925,苏米唐旗舰店,1122900.0
湖北,妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装,199.0,12398,千百萌旗舰店,2467202.0
湖北,妈妈装春夏装雪纺衫大码中老年女装上衣中长袖t恤中年人打底衬衫,158.0,5001,千香旗舰店,790158.0
湖北,母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服,318.0,8580,薇诗琪旗舰店,2728440.0
湖北,母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子,306.0,4138,sonmellny尚曼妮旗舰店,1266228.0
湖北,中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服,178.0,4111,凯利娜格旗舰店,731758.0
湖北,母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款,368.0,4041,欧芮嘉旗舰店,1487088.0
湖北,母亲节上衣服夏季中年妈妈春装雪纺衫夏装短袖中老年女装大码外套,256.0,5005,乔芙丽旗舰店,1281280.0

In [37]:
#设置‘位置’与‘卖家’为索引,并根据位置进行排序
df2 = df.set_index(["位置","卖家"])
df2.head()

                                          宝贝     价格    成交量        销售额
位置 卖家
江苏 夏奈凤凰旗舰店    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  1648053.0
上海 夏洛特的文艺     中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045  4016870.0
江苏 云新旗舰店    母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458  4010484.0
浙江 韶妃旗舰店    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340  3721860.0
江苏 千百奈旗舰店   中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   763401.0

In [38]:
df2.sort_index(level="位置")

                                                     宝贝     价格    成交量  \
位置 卖家
上海 xudong158             中老年女装夏装短袖t恤衫中年妇女母亲节衣服妈妈装雪纺套装上衣   99.0   4572
   佳福妈妈商城           中老年人女装套装妈妈装夏装大码奶奶装40-50岁60短袖T恤70两件套   29.0   4752
   夏洛特的文艺                中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045
   妃莲慕旗舰店              母亲节衣服妈妈装夏装套装40-50岁中年两件套中老年女装短袖雪纺  138.0   6037
   妃莲慕旗舰店             母亲节衣服妈妈装夏装套装短袖中年人40-50岁中老年女装T恤两件套  128.0   4718
   婆家娘家商城              中老年女装夏装连衣裙中年雪纺上衣妈妈装中长款40-50岁大码裙子  198.0   5304
   简港旗舰店                  中老年女装夏装套装圆领上衣裤子夏季中年妈妈装短袖T恤两件套  189.0  11632
   简港旗舰店              母亲节衣服夏季中老年女装夏装套装上衣40-50岁妈妈装T恤衫两件套  198.0   7466
   简港旗舰店                 中老年女装夏装套装加肥加大码T恤上衣妈妈装时尚短袖夏季两件套  298.0   5325
   金良国际               母亲节中老年女装夏装短袖40-50岁雪纺衫大码妈妈装T恤宽上衣套装   49.0   4164
北京 bobolove987           新母亲节妈妈夏装短袖 中老年T恤衫宽松牛奶丝上衣圆领印花短袖   98.0   4261
   hi大脚丫               中老年女装绵绸连衣裙40-50岁中年妈妈装短袖大码修身碎花裙子夏  138.0   4460
   taylor3699           女装中年连衣裙夏季妈妈装35-50岁中老年连衣裙中长款碎花裙子  100.0   4271
   wonwon942             母亲节夏季中老年宽松短袖妇女胖妈妈装上衣加肥加大码碎花T恤女  108.0   4415
   凯飞服饰1717            新款妈妈装连衣裙中长款短袖夏装中年妇女40-50大码气质打底裙子  168.0   5209
   妈妈装工厂店1988            新款中老年女装夏季长袖妈妈装衬衫女T恤大码纯色夏装修身春装薄  288.0   4500
广东 安静式风格               妈妈装春装大码女装雪纺连衣裙开衫女2017夏装新款中老年两件套装  326.0   5164
江苏 ceo放牛               妈妈夏装两件套母亲节衣服老人上衣60-70岁人夏季中老年女装套装  298.0  11655
   kewang5188        中老年人女装套装夏装妈妈装套装60-70-80岁老奶奶短袖上衣七分裤  198.0   5348
   wuweihua0809       妈妈装夏装套装短袖中年人大码40-50岁中老年女装T恤雪纺衫两件套  168.0   5641
   zxtvszml           中老年女装夏季T恤雪纺衫妈妈装夏装套装短袖中年妇女40-50岁t恤  288.0  12087
   云新旗舰店               母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458
   伊秋芙旗舰店                胖妈妈装夏装短袖中年女装大码夏季棉麻上衣中老年T恤母亲节衣服  298.0   4382
   依人怡慧no1            中老年女装春夏装套装短袖T恤妈妈装长袖蕾丝连衣裙40-50岁两件套  108.0   4163
   依安雅旗舰店            中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664
   依诗曼妮                 母亲节衣服中老年人女装奶奶短袖两件套中年40岁胖妈妈装夏装套装  177.0  11125
   便宜才是硬道理1234          中老年女装短袖T恤套装春装打底衫T恤长袖中年妈妈装上衣宽松上衣   59.9   4421
   千百奈旗舰店              中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939
   名瑾旗舰店                 中年女妈妈夏装套装短袖t恤雪纺衫中老年套装两件套女母亲节衣服  228.0   5506
   夏奈凤凰旗舰店               新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647
...                                                 ...    ...    ...
浙江 发财花旗舰店                中年妈妈装夏装套装中老年人女装春装上衣裤子两件套奶奶夏季短袖  558.0   5918
   妈妈之美服饰                中老年女夏装妈妈装奶奶宽松亚麻短袖T恤上衣裤子两件套棉麻套装  198.0   5647
   拓芙尼旗舰店            母亲节衣服中老年女装宽松上衣中年妈妈夏装短袖t恤40-50岁套装60  318.0   4695
   拓芙尼旗舰店                母亲节衣服妈妈夏装短袖套装中老年人女装两件套奶奶宽松大码春装  349.0   4656
   朵莹旗舰店               母亲节衣服夏季中年女装春装套装40-50岁妈妈装外套中老年人上衣  258.0  11568
   朵莹旗舰店              母亲节中年女装春装套装40-50岁妈妈装夏装短袖t恤中老年人上衣潮  228.0   5834
   朵莹旗舰店             母亲节衣服夏季中年女装春装40-50岁60妈妈装夏装套装中老年人t恤  320.0   4555
   步古旗舰店            妈妈夏装套装女40-50岁2017新款母亲节衣服中老年春装短袖t恤上衣  177.0   4502
   浅恋旗舰店               母亲节衣服夏季中年女装连衣裙中长款裙子中老年妈妈装夏装40岁50  275.0   4129
   浅恋旗舰店              母亲节衣服中年妈妈装夏装短袖套装30中老年女装春装雪纺衫40岁50  181.0   4023
   潮流前线9170              中老年女装半袖妈妈装春装短款打底雪纺小衫中年人夏装长袖上衣服  588.0   7166
   潮流前线9170           中老年女装春装t恤纱袖针织衫40-50岁妈妈装七分袖上衣夏装打底衫  688.0   3956
   爱米雪旗舰店             母亲节衣服中老年女装春装40-50岁中年女上衣T恤妈妈装夏装打底衫  198.0   5171
   简狐旗舰店              妈妈夏装套装t恤中年女装春装雪纺衫+阔腿裤老年两件套新款40岁50  698.0   5197
   胖织缘福旗舰店              母亲节衣服夏季妈妈夏装中老年女装中年雪纺衫阔腿裤两件套装40岁  263.0   7147
   芭蒂卡旗舰店            中老年女装妈妈装短袖雪纺衫大码宽松40-50岁上衣17夏装新品T恤衫  190.0   4365
   苏米唐旗舰店           母亲节妈妈夏装T恤40-50岁中年女装两件套装2017新款中老年人衣服  228.0   4925
   若澜锦蒂旗舰店             母亲节妈妈装夏装套装女40-50岁夏季衣服两件套中老年春装连衣裙  195.0   4000
   陌小柒服饰旗舰店           母亲节衣服妈妈装两件套短袖夏装中老年女装套装T恤40-50岁雪纺衫  168.0   5580
   韶妃旗舰店               母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340
   香颜旗舰店                 中老年女装夏装套装妈妈装两件套雪纺衫中年春装T恤母亲节上衣服  236.0   5908
   香颜旗舰店                 母亲节妈妈装夏装真丝T恤中老年女装短袖上衣服中年女桑蚕丝衬衫  316.0   4314
   香颜旗舰店                  香颜妈妈装春装连衣裙中老年女装夏装两件套雪纺衫中年套装裙子  252.0   4249
湖北 sonmellny尚曼妮旗舰店     母亲节衣服妈妈夏装雪纺连衣裙40岁50中年短袖中老年女装夏季裙子  306.0   4138
   乔芙丽旗舰店                母亲节上衣服夏季中年妈妈春装雪纺衫夏装短袖中老年女装大码外套  256.0   5005
   凯利娜格旗舰店            中老年女夏装上衣短袖雪纺衬衫40-50岁大码胖妈妈装T恤母亲节衣服  178.0   4111
   千百萌旗舰店             妈妈装春夏装T恤宽松雪纺衬衫40-50岁中老年女装大码中袖上衣套装  199.0  12398
   千香旗舰店                 妈妈装春夏装雪纺衫大码中老年女装上衣中长袖t恤中年人打底衬衫  158.0   5001
   欧芮嘉旗舰店            母亲节中老年女装运动服套装中年妈妈春装外套40岁50衣服2017新款  368.0   4041
   薇诗琪旗舰店               母亲节妈妈夏装套装中老年雪纺衫中年女春装阔腿裤两件套40岁衣服  318.0   8580

                          销售额
位置 卖家
上海 xudong158         452628.0
   佳福妈妈商城            137808.0
   夏洛特的文艺           4016870.0
   妃莲慕旗舰店            833106.0
   妃莲慕旗舰店            603904.0
   婆家娘家商城           1050192.0
   简港旗舰店            2198448.0
   简港旗舰店            1478268.0
   简港旗舰店            1586850.0
   金良国际              204036.0
北京 bobolove987       417578.0
   hi大脚丫             615480.0
   taylor3699        427100.0
   wonwon942         476820.0
   凯飞服饰1717          875112.0
   妈妈装工厂店1988       1296000.0
广东 安静式风格            1683464.0
江苏 ceo放牛            3473190.0
   kewang5188       1058904.0
   wuweihua0809      947688.0
   zxtvszml         3481056.0
   云新旗舰店            4010484.0
   伊秋芙旗舰店           1305836.0
   依人怡慧no1           449604.0
   依安雅旗舰店           2507472.0
   依诗曼妮             1969125.0
   便宜才是硬道理1234       264817.9
   千百奈旗舰店            763401.0
   名瑾旗舰店            1255368.0
   夏奈凤凰旗舰店          1648053.0
...                       ...
浙江 发财花旗舰店           3302244.0
   妈妈之美服饰           1118106.0
   拓芙尼旗舰店           1493010.0
   拓芙尼旗舰店           1624944.0
   朵莹旗舰店            2984544.0
   朵莹旗舰店            1330152.0
   朵莹旗舰店            1457600.0
   步古旗舰店             796854.0
   浅恋旗舰店            1135475.0
   浅恋旗舰店             728163.0
   潮流前线9170         4213608.0
   潮流前线9170         2721728.0
   爱米雪旗舰店           1023858.0
   简狐旗舰店            3627506.0
   胖织缘福旗舰店          1879661.0
   芭蒂卡旗舰店            829350.0
   苏米唐旗舰店           1122900.0
   若澜锦蒂旗舰店           780000.0
   陌小柒服饰旗舰店          937440.0
   韶妃旗舰店            3721860.0
   香颜旗舰店            1394288.0
   香颜旗舰店            1363224.0
   香颜旗舰店            1070748.0
湖北 sonmellny尚曼妮旗舰店  1266228.0
   乔芙丽旗舰店           1281280.0
   凯利娜格旗舰店           731758.0
   千百萌旗舰店           2467202.0
   千香旗舰店             790158.0
   欧芮嘉旗舰店           1487088.0
   薇诗琪旗舰店           2728440.0

[100 rows x 4 columns]


## 4、数据的分组
将所需的字段作为索引，然后使用汇总函数进行汇总计算

In [39]:
# groupby分组汇总
new_df=df.copy()
new_df.head()

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0
3  母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340    韶妃旗舰店  浙江  3721860.0
4  中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939   千百奈旗舰店  江苏   763401.0

In [40]:
#删除宝贝和卖家这两列方法一  
new_df.drop(columns=["宝贝","卖家"])

       价格    成交量  位置        销售额
0    99.0  16647  江苏  1648053.0
1   286.0  14045  上海  4016870.0
2   298.0  13458  江苏  4010484.0
3   279.0  13340  浙江  3721860.0
4    59.0  12939  江苏   763401.0
5   198.0  12664  江苏  2507472.0
6   199.0  12398  湖北  2467202.0
7   288.0  12087  江苏  3481056.0
8   298.0  11655  江苏  3473190.0
9   189.0  11632  上海  2198448.0
10  258.0  11568  浙江  2984544.0
11  177.0  11125  江苏  1969125.0
12  298.0  10366  江苏  3089068.0
13  124.0   9113  江苏  1130012.0
14  138.0   9060  浙江  1250280.0
15  298.0   8843  江苏  2635214.0
16  318.0   8580  湖北  2728440.0
17  298.0   8319  江苏  2479062.0
18  399.0   8072  江苏  3220728.0
19  129.0   7675  河北   990075.0
20  189.0   7619  江苏  1439991.0
21  198.0   7466  上海  1478268.0
22  588.0   7166  浙江  4213608.0
23  263.0   7147  浙江  1879661.0
24  198.0   7077  浙江  1401246.0
25  399.0   7046  江苏  2811354.0
26  128.0   7002  江苏   896256.0
27  396.0   6929  江苏  2743884.0
28   49.0   6816  江苏   333984.0
29  108.0   6795  江苏   733860.0
..    ...    ...  ..        ...
70  320.0   4555  浙江  1457600.0
71  318.0   4512  江苏  1434816.0
72  177.0   4502  浙江   796854.0
73  288.0   4500  北京  1296000.0
74  218.0   4482  江苏   977076.0
75  138.0   4460  北京   615480.0
76   59.9   4421  江苏   264817.9
77  108.0   4415  北京   476820.0
78  298.0   4382  江苏  1305836.0
79   98.0   4382  江苏   429436.0
80  190.0   4365  浙江   829350.0
81   88.0   4365  江苏   384120.0
82  316.0   4314  浙江  1363224.0
83  129.0   4309  河北   555861.0
84  116.0   4275  江苏   495900.0
85  100.0   4271  北京   427100.0
86   98.0   4261  北京   417578.0
87  252.0   4249  浙江  1070748.0
88   49.0   4164  上海   204036.0
89  108.0   4163  江苏   449604.0
90  116.0   4153  江苏   481748.0
91  306.0   4138  湖北  1266228.0
92  275.0   4129  浙江  1135475.0
93  178.0   4111  湖北   731758.0
94  398.0   4054  浙江  1613492.0
95  368.0   4041  湖北  1487088.0
96  181.0   4023  浙江   728163.0
97  195.0   4000  浙江   780000.0
98  498.0   3968  江苏  1976064.0
99  688.0   3956  浙江  2721728.0

[100 rows x 4 columns]

In [42]:
#删除宝贝和卖家这两列方法二 
del new_df["宝贝"]

In [43]:
del new_df["卖家"]

In [44]:
# 依据位置分组并按照均值聚合
gp = df.groupby("位置")

In [67]:
gp.mean()

            价格          成交量           销售额
位置
上海  161.200000  6801.500000  1.256211e+06
北京  150.000000  4519.333333  6.846817e+05
广东  326.000000  5164.000000  1.683464e+06
江苏  223.611364  7030.909091  1.551363e+06
河北  152.000000  6050.666667  9.224000e+05
河南  119.000000  5986.000000  7.123340e+05
浙江  290.428571  5779.500000  1.650173e+06
湖北  254.714286  6182.000000  1.536022e+06

In [45]:
#依据位置聚合,并对价格求均值,对成交量求和,对销售额求均值
gp.agg({"价格":np.mean,"成交量":np.sum,"销售额":np.mean})

            价格     成交量           销售额
位置
上海  161.200000   68015  1.256211e+06
北京  150.000000   27116  6.846817e+05
广东  326.000000    5164  1.683464e+06
江苏  223.611364  309360  1.551363e+06
河北  152.000000   18152  9.224000e+05
河南  119.000000    5986  7.123340e+05
浙江  290.428571  161826  1.650173e+06
湖北  254.714286   43274  1.536022e+06

In [46]:
# 依据"位置"和"卖家"两个字段作为分组依据,并对分组后的数据进行求均值的聚合运算
gp1 = df.groupby(["位置","卖家"])

In [47]:
gp1.mean()

                            价格           成交量           销售额
位置 卖家
上海 xudong158         99.000000   4572.000000  4.526280e+05
   佳福妈妈商城            29.000000   4752.000000  1.378080e+05
   夏洛特的文艺           286.000000  14045.000000  4.016870e+06
   妃莲慕旗舰店           133.000000   5377.500000  7.185050e+05
   婆家娘家商城           198.000000   5304.000000  1.050192e+06
   简港旗舰店            228.333333   8141.000000  1.754522e+06
   金良国际              49.000000   4164.000000  2.040360e+05
北京 bobolove987       98.000000   4261.000000  4.175780e+05
   hi大脚丫            138.000000   4460.000000  6.154800e+05
   taylor3699       100.000000   4271.000000  4.271000e+05
   wonwon942        108.000000   4415.000000  4.768200e+05
   凯飞服饰1717         168.000000   5209.000000  8.751120e+05
   妈妈装工厂店1988       288.000000   4500.000000  1.296000e+06
广东 安静式风格            326.000000   5164.000000  1.683464e+06
江苏 ceo放牛            298.000000  11655.000000  3.473190e+06
   kewang5188       198.000000   5348.000000  1.058904e+06
   wuweihua0809     168.000000   5641.000000  9.476880e+05
   zxtvszml         288.000000  12087.000000  3.481056e+06
   云新旗舰店            298.000000  13458.000000  4.010484e+06
   伊秋芙旗舰店           298.000000   4382.000000  1.305836e+06
   依人怡慧no1          108.000000   4163.000000  4.496040e+05
   依安雅旗舰店           198.000000  12664.000000  2.507472e+06
   依诗曼妮             177.000000  11125.000000  1.969125e+06
   便宜才是硬道理1234       59.900000   4421.000000  2.648179e+05
   千百奈旗舰店            59.000000  12939.000000  7.634010e+05
   名瑾旗舰店            228.000000   5506.000000  1.255368e+06
   夏奈凤凰旗舰店           99.000000  16647.000000  1.648053e+06
   夕牧旗舰店            298.000000  10366.000000  3.089068e+06
   妈咪衣橱纺            396.000000   6929.000000  2.743884e+06
   孝义妈妈装             98.000000   4382.000000  4.294360e+05
...                        ...           ...           ...
河北 艾尔梦艺娜旗舰店         129.000000   4309.000000  5.558610e+05
河南 z昊铭么么哒666        119.000000   5986.000000  7.123340e+05
浙江 mitchsheeps旗舰店   109.000000   5187.000000  5.653830e+05
   qianyaofushi888  398.000000   4054.000000  1.613492e+06
   showcai谷川专卖店     128.000000   5603.000000  7.171840e+05
   冉献兵              138.000000   9060.000000  1.250280e+06
   卧雪旗舰店            198.000000   7077.000000  1.401246e+06
   发财花旗舰店           558.000000   5918.000000  3.302244e+06
   妈妈之美服饰           198.000000   5647.000000  1.118106e+06
   拓芙尼旗舰店           333.500000   4675.500000  1.558977e+06
   朵莹旗舰店            268.666667   7319.000000  1.924099e+06
   步古旗舰店            177.000000   4502.000000  7.968540e+05
   浅恋旗舰店            228.000000   4076.000000  9.318190e+05
   潮流前线9170         638.000000   5561.000000  3.467668e+06
   爱米雪旗舰店           198.000000   5171.000000  1.023858e+06
   简狐旗舰店            698.000000   5197.000000  3.627506e+06
   胖织缘福旗舰店          263.000000   7147.000000  1.879661e+06
   芭蒂卡旗舰店           190.000000   4365.000000  8.293500e+05
   苏米唐旗舰店           228.000000   4925.000000  1.122900e+06
   若澜锦蒂旗舰店          195.000000   4000.000000  7.800000e+05
   陌小柒服饰旗舰店         168.000000   5580.000000  9.374400e+05
   韶妃旗舰店            279.000000  13340.000000  3.721860e+06
   香颜旗舰店            268.000000   4823.666667  1.276087e+06
湖北 sonmellny尚曼妮旗舰店  306.000000   4138.000000  1.266228e+06
   乔芙丽旗舰店           256.000000   5005.000000  1.281280e+06
   凯利娜格旗舰店          178.000000   4111.000000  7.317580e+05
   千百萌旗舰店           199.000000  12398.000000  2.467202e+06
   千香旗舰店            158.000000   5001.000000  7.901580e+05
   欧芮嘉旗舰店           368.000000   4041.000000  1.487088e+06
   薇诗琪旗舰店           318.000000   8580.000000  2.728440e+06

[85 rows x 3 columns]

In [66]:
gp

In [49]:
#查看依据"位置"分组后的分组数量以及每组中有多少条记录
gp.size()

位置
上海    10
北京     6
广东     1
江苏    44
河北     3
河南     1
浙江    28
湖北     7
dtype: int64

In [50]:
len(gp)

8

In [51]:
#查看依据"位置"和"卖家"分组后的分组数量以及每组中有多少条记录
len(gp1)

85

In [52]:
gp1.size()

位置  卖家
上海  xudong158          1
    佳福妈妈商城             1
    夏洛特的文艺             1
    妃莲慕旗舰店             2
    婆家娘家商城             1
    简港旗舰店              3
    金良国际               1
北京  bobolove987        1
    hi大脚丫              1
    taylor3699         1
    wonwon942          1
    凯飞服饰1717           1
    妈妈装工厂店1988         1
广东  安静式风格              1
江苏  ceo放牛              1
    kewang5188         1
    wuweihua0809       1
    zxtvszml           1
    云新旗舰店              1
    伊秋芙旗舰店             1
    依人怡慧no1            1
    依安雅旗舰店             1
    依诗曼妮               1
    便宜才是硬道理1234        1
    千百奈旗舰店             1
    名瑾旗舰店              1
    夏奈凤凰旗舰店            1
    夕牧旗舰店              1
    妈咪衣橱纺              1
    孝义妈妈装              1
                      ..
河北  艾尔梦艺娜旗舰店           1
河南  z昊铭么么哒666          1
浙江  mitchsheeps旗舰店     1
    qianyaofushi888    1
    showcai谷川专卖店       1
    冉献兵                1
    卧雪旗舰店              1
    发财花旗舰店             1
    妈妈之美服饰             1
    拓芙尼旗舰店             2
    朵莹旗舰店              3
    步古旗舰店              1
    浅恋旗舰店              2
    潮流前线9170           2
    爱米雪旗舰店             1
    简狐旗舰店              1
    胖织缘福旗舰店            1
    芭蒂卡旗舰店             1
    苏米唐旗舰店             1
    若澜锦蒂旗舰店            1
    陌小柒服饰旗舰店           1
    韶妃旗舰店              1
    香颜旗舰店              3
湖北  sonmellny尚曼妮旗舰店    1
    乔芙丽旗舰店             1
    凯利娜格旗舰店            1
    千百萌旗舰店             1
    千香旗舰店              1
    欧芮嘉旗舰店             1
    薇诗琪旗舰店             1
Length: 85, dtype: int64

## 5、数据的合并

- concat()函数
- merge()函数

In [54]:
df.head(3)

                                 宝贝     价格    成交量       卖家  位置        销售额
0    新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647  夏奈凤凰旗舰店  江苏  1648053.0
1    中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045   夏洛特的文艺  上海  4016870.0
2  母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458    云新旗舰店  江苏  4010484.0

In [54]:
#把行索引为20-29，列名为位置和卖家的数据切出来赋值给df1
df1 = df.loc[20:29,["位置","卖家"]]

In [55]:
#把行索引为25-35，列索引为卖家、价格、成交量提取出来赋值给df2
df2 = df.loc[25:35,["卖家","价格","成交量"]]

In [69]:
df1

    位置        卖家
20  江苏  纳笛佳女装旗舰店
21  上海     简港旗舰店
22  浙江  潮流前线9170
23  浙江   胖织缘福旗舰店
24  浙江     卧雪旗舰店
25  江苏    衣之绒旗舰店
26  江苏    康乃馨老年装
27  江苏     妈咪衣橱纺
28  江苏    爱莱嘉旗舰店
29  江苏       高康洁

In [70]:
df2

                卖家     价格   成交量
25          衣之绒旗舰店  399.0  7046
26          康乃馨老年装  128.0  7002
27           妈咪衣橱纺  396.0  6929
28          爱莱嘉旗舰店   49.0  6816
29             高康洁  108.0  6795
30          蒲洛妃旗舰店  108.0  6755
31         悦薇孔雀旗舰店  298.0  6270
32          摩尼树旗舰店  198.0  6262
33          梵忆轩旗舰店  148.0  6224
34  loueddssd倍艾旗舰店  198.0  6168
35          蒲洛妃旗舰店  258.0  6085

In [58]:
# 将df1和df2实现左右连接,相同索引数据匹配
pd.merge(df1,df2)

   位置      卖家     价格   成交量
0  江苏  衣之绒旗舰店  399.0  7046
1  江苏  康乃馨老年装  128.0  7002
2  江苏   妈咪衣橱纺  396.0  6929
3  江苏  爱莱嘉旗舰店   49.0  6816
4  江苏     高康洁  108.0  6795

In [59]:
cols_1=df[:6]['宝贝']
cols_2=df[:6]['价格']
cols_3=df[:6]['成交量']

In [72]:
#实现cols_1,cols_2和cols_3的拼接,并符合业务逻辑
pd.concat([cols_1,cols_2,cols_3],axis=1)

                                   宝贝     价格    成交量
0      新款中老年女装春装雪纺打底衫妈妈装夏装中袖宽松上衣中年人t恤   99.0  16647
1      中老年女装清凉两件套妈妈装夏装大码短袖T恤上衣雪纺衫裙裤套装  286.0  14045
2    母亲节衣服夏季妈妈装夏装套装短袖中年人40-50岁中老年女装T恤  298.0  13458
3    母亲节衣服中老年人春装女40岁50中年妈妈装套装夏装奶奶装两件套  279.0  13340
4    中老年女装春夏装裤大码 中年妇女40-50岁妈妈装夏装套装七分裤   59.0  12939
5  中老年女装夏装短袖T恤40-50岁中年春装30打底衫妈妈装母亲节衣服  198.0  12664

## 6、数据的重塑

In [8]:
import pandas as pd

In [73]:
data=pd.read_csv(r'D:\data\hz_weather.csv')

In [74]:
data.head()

           日期  最高气温  最低气温    天气   风向  风力
0  2017-01-01    17     7     晴  西北风  2级
1  2017-01-02    16     8    多云  东北风  2级
2  2017-01-03    15     8    多云  东北风  1级
3  2017-01-04    15    11    小雨  西北风  2级
4  2017-01-05    13    11  小到中雨   北风  2级

In [81]:
data.shape

(118, 6)

In [81]:
data

             日期  最高气温  最低气温    天气   风向  风力
0    2017-01-01    17     7     晴  西北风  2级
1    2017-01-02    16     8    多云  东北风  2级
2    2017-01-03    15     8    多云  东北风  1级
3    2017-01-04    15    11    小雨  西北风  2级
4    2017-01-05    13    11  小到中雨   北风  2级
5    2017-01-06    12    10    小雨  东北风  1级
6    2017-01-07    11     9    中雨   北风  2级
7    2017-01-08    12     5    多云   北风  2级
8    2017-01-09    11     4    多云  东北风  2级
9    2017-01-10     9     4    多云   北风  1级
10   2017-01-11     8     5    小雨   北风  1级
11   2017-01-12     7     4    小雨  西南风  1级
12   2017-01-13    10     1    多云   北风  1级
13   2017-01-14    10     2     晴  东北风  3级
14   2017-01-15     8     2    多云  东北风  1级
15   2017-01-16     9     2    多云   东风  2级
16   2017-01-17    11     7     阴  西北风  2级
17   2017-01-18     8     6    小雨  东北风  2级
18   2017-01-19     8     0    小雨   北风  3级
19   2017-01-20     6    -3     晴  东北风  3级
20   2017-01-21     7    -1    多云   北风  1级
21   2017-01-22     8    -2     晴  东北风  2级
22   2017-01-23     8    -1     晴  东南风  2级
23   2017-01-24     9     3    多云   东风  2级
24   2017-01-25    10     2     阴   南风  1级
25   2017-01-26    13     3     晴   南风  2级
26   2017-01-27    13     5    多云   东风  2级
27   2017-01-28    17     7    多云   南风  1级
28   2017-01-29    20     4    多云   北风  3级
29   2017-01-30     8     0    多云  东北风  3级
..          ...   ...   ...   ...  ...  ..
88   2017-04-01    17     6    多云   北风  2级
89   2017-04-02    22    10     晴  东南风  2级
90   2017-04-03    23    12    多云   东风  4级
91   2017-04-04    25    15    多云   南风  4级
92   2017-04-05    26    16     阴   北风  4级
93   2017-04-06    27    18    中雨   东风  4级
94   2017-04-07    21    16    阵雨  东南风  2级
95   2017-04-08    26    14    多云  东北风  4级
96   2017-04-09    14    10    阵雨   北风  3级
97   2017-04-10    13    11    阵雨   北风  4级
98   2017-04-11    15    11     阴   北风  2级
99   2017-04-12    19     8    多云  东南风  2级
100  2017-04-13    23    11     晴   东风  4级
101  2017-04-14    28    16     晴   南风  3级
102  2017-04-15    31    17    多云   南风  3级
103  2017-04-16    30    21    阵雨  西南风  4级
104  2017-04-17    25    16    阵雨  西南风  3级
105  2017-04-18    29    16     晴   北风  3级
106  2017-04-19    28    18    阵雨   南风  4级
107  2017-04-20    25    16    多云   北风  6级
108  2017-04-21    23    12     阴   北风  4级
109  2017-04-22    23    12     晴  东南风  3级
110  2017-04-23    24    12     晴   东风  2级
111  2017-04-24    27    16     晴   东风  4级
112  2017-04-25    26    17    阵雨   东风  3级
113  2017-04-26    19    13    阵雨   北风  5级
114  2017-04-27    21    11    多云  西北风  2级
115  2017-04-28    26    13     晴  西南风  2级
116  2017-04-29    29    15     晴  西南风  3级
117  2017-04-30    29    16    多云   东风  2级

[118 rows x 6 columns]

In [75]:
#设置日期为索引
data.set_index("日期")

            最高气温  最低气温    天气   风向  风力
日期
2017-01-01    17     7     晴  西北风  2级
2017-01-02    16     8    多云  东北风  2级
2017-01-03    15     8    多云  东北风  1级
2017-01-04    15    11    小雨  西北风  2级
2017-01-05    13    11  小到中雨   北风  2级
2017-01-06    12    10    小雨  东北风  1级
2017-01-07    11     9    中雨   北风  2级
2017-01-08    12     5    多云   北风  2级
2017-01-09    11     4    多云  东北风  2级
2017-01-10     9     4    多云   北风  1级
2017-01-11     8     5    小雨   北风  1级
2017-01-12     7     4    小雨  西南风  1级
2017-01-13    10     1    多云   北风  1级
2017-01-14    10     2     晴  东北风  3级
2017-01-15     8     2    多云  东北风  1级
2017-01-16     9     2    多云   东风  2级
2017-01-17    11     7     阴  西北风  2级
2017-01-18     8     6    小雨  东北风  2级
2017-01-19     8     0    小雨   北风  3级
2017-01-20     6    -3     晴  东北风  3级
2017-01-21     7    -1    多云   北风  1级
2017-01-22     8    -2     晴  东北风  2级
2017-01-23     8    -1     晴  东南风  2级
2017-01-24     9     3    多云   东风  2级
2017-01-25    10     2     阴   南风  1级
2017-01-26    13     3     晴   南风  2级
2017-01-27    13     5    多云   东风  2级
2017-01-28    17     7    多云   南风  1级
2017-01-29    20     4    多云   北风  3级
2017-01-30     8     0    多云  东北风  3级
...          ...   ...   ...  ...  ..
2017-04-01    17     6    多云   北风  2级
2017-04-02    22    10     晴  东南风  2级
2017-04-03    23    12    多云   东风  4级
2017-04-04    25    15    多云   南风  4级
2017-04-05    26    16     阴   北风  4级
2017-04-06    27    18    中雨   东风  4级
2017-04-07    21    16    阵雨  东南风  2级
2017-04-08    26    14    多云  东北风  4级
2017-04-09    14    10    阵雨   北风  3级
2017-04-10    13    11    阵雨   北风  4级
2017-04-11    15    11     阴   北风  2级
2017-04-12    19     8    多云  东南风  2级
2017-04-13    23    11     晴   东风  4级
2017-04-14    28    16     晴   南风  3级
2017-04-15    31    17    多云   南风  3级
2017-04-16    30    21    阵雨  西南风  4级
2017-04-17    25    16    阵雨  西南风  3级
2017-04-18    29    16     晴   北风  3级
2017-04-19    28    18    阵雨   南风  4级
2017-04-20    25    16    多云   北风  6级
2017-04-21    23    12     阴   北风  4级
2017-04-22    23    12     晴  东南风  3级
2017-04-23    24    12     晴   东风  2级
2017-04-24    27    16     晴   东风  4级
2017-04-25    26    17    阵雨   东风  3级
2017-04-26    19    13    阵雨   北风  5级
2017-04-27    21    11    多云  西北风  2级
2017-04-28    26    13     晴  西南风  2级
2017-04-29    29    15     晴  西南风  3级
2017-04-30    29    16    多云   东风  2级

[118 rows x 5 columns]

In [76]:
# 建立数据透视表 索引为天气 列为风向  聚合数值为最高气温
pd.pivot_table(data,values="最高气温",index = "天气",columns="风向")

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000    NaN  18.5  11.000000        NaN   NaN        NaN
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨        NaN    NaN   NaN  13.000000        NaN   NaN        NaN
小雨    13.500000  11.00  14.5   9.250000        NaN  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0        NaN
阵雨          NaN  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪         NaN    NaN   NaN   7.000000        NaN   NaN        NaN

In [77]:
#行索引是风向，列索引是风力，值是最低气温，建一个透视表
pd.pivot_table(data,values="最低气温",index = "风向",columns="风力")

风力         1级         2级         3级     4级    5级    6级   微风
风向
东北风  5.500000   5.166667   3.857143  10.25   NaN   NaN  NaN
东南风  5.500000   7.285714  12.000000    NaN   NaN   NaN  NaN
东风   4.833333   7.000000   6.800000  14.25   NaN   NaN  NaN
北风   2.666667   7.500000   4.800000   7.60  10.0  16.0  6.5
南风   5.000000   7.666667  16.500000  16.50   NaN   NaN  NaN
西北风       NaN   8.571429        NaN    NaN   NaN   6.0  NaN
西南风  4.000000  11.000000  12.500000  21.00   NaN   NaN  NaN

In [78]:
#行索引是天气，列索引是风向，值是最高气温，建一个透视表,并赋值给df_table
df_table = pd.pivot_table(data,index = "天气",columns="风向",values="最高气温")

In [80]:
df_table

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000    NaN  18.5  11.000000        NaN   NaN        NaN
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨        NaN    NaN   NaN  13.000000        NaN   NaN        NaN
小雨    13.500000  11.00  14.5   9.250000        NaN  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0        NaN
阵雨          NaN  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪         NaN    NaN   NaN   7.000000        NaN   NaN        NaN

In [79]:
#查看df_table的详细信息
df_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 中雨 to 雨夹雪
Data columns (total 7 columns):
东北风    5 non-null float64
东南风    5 non-null float64
东风     6 non-null float64
北风     8 non-null float64
南风     4 non-null float64
西北风    5 non-null float64
西南风    4 non-null float64
dtypes: float64(7)
memory usage: 512.0+ bytes

## 数据的分组、分割与合并、重塑    
- 1.按照出发地和目的地，生成旅游路线的平均价格汇总表
- 2.汇总一个大表，包含出发地——目的地，路线总数以及平均价格
- 3.查看出发地目的地的平均价格的透视分析
- 4.从杭州出发—目的地-去程方式-平均价格的数据透视表

In [82]:
df_free=pd.read_csv(r'D:\data\qunar_free_trip.csv')

In [83]:
df_free.head(2)

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,北京,厦门,1866,492,北京-厦门3天2晚 | 入住厦门温特雅酒店 + 联合航空/首都航空往返机票,厦门温特雅酒店 舒适型 3.9分/5分,标准房(大床)(预付) 大床 不含早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
1,北京,厦门,2030,492,北京-厦门3天2晚 | 入住厦门华美达长升大酒店 + 联合航空/首都航空往返机票,厦门华美达长升大酒店 4.1分/5分,标准房(错峰出游) 大/双床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15

In [84]:
df_free.shape

(30821, 13)

In [85]:
df_all=pd.read_csv(r'D:\data\qunar_route_cnt.csv',encoding='utf-8')
df_all.head()

  出发地  目的地  路线总数
0  北京   厦门   359
1  北京   青岛   471
2  北京   杭州  1228
3  北京   丽江  1160
4  北京  九寨沟   168

In [86]:
df_all.shape

(247, 3)

### 1. 按照出发地和目的地，生成旅游路线的平均价格汇总表

In [87]:
df1= df_free.drop('节省',axis=1)

In [88]:
df1.head()

,出发地,目的地,价格,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,北京,厦门,1866,北京-厦门3天2晚 | 入住厦门温特雅酒店 + 联合航空/首都航空往返机票,厦门温特雅酒店 舒适型 3.9分/5分,标准房(大床)(预付) 大床 不含早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
1,北京,厦门,2030,北京-厦门3天2晚 | 入住厦门华美达长升大酒店 + 联合航空/首都航空往返机票,厦门华美达长升大酒店 4.1分/5分,标准房(错峰出游) 大/双床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
2,北京,厦门,2139,北京-厦门3天2晚 | 入住厦门毕思特酒店 + 联合航空/首都航空往返机票,厦门毕思特酒店 高档型 4.4分/5分,标准大床房(特惠)[双... 大床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
3,北京,厦门,2141,北京-厦门3天2晚 | 入住厦门翔鹭国际大酒店 + 联合航空/首都航空往返机票,厦门翔鹭国际大酒店 豪华型 4.4分/5分,高级大床房(含单早) 其他 单早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
4,北京,厦门,2159,北京-厦门3天2晚 | 入住厦门京闽中心酒店 + 联合航空/首都航空往返机票,厦门京闽中心酒店 4.5分/5分,高级房(双床)(新春特... 双床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15

In [117]:
df_free.groupby(["出发地","目的地"],as_index=False).agg({"价格":np.mean})

    出发地   目的地           价格
0    上海    三亚  1627.350000
1    上海    丽江  1981.490000
2    上海  乌鲁木齐  3223.760000
3    上海   九寨沟  1893.712500
4    上海    北京  1317.090000
5    上海    厦门  1322.670000
6    上海  呼和浩特  1561.230000
7    上海   哈尔滨  1352.990000
8    上海    大连  1258.300000
9    上海    太原  1412.790000
10   上海   张家界  2203.230000
11   上海    桂林  1325.830000
12   上海    武汉  1136.220000
13   上海    沈阳  1455.610000
14   上海   神农架  1264.580000
15   上海  西双版纳  3693.310000
16   上海    西安  1381.830000
17   上海    重庆  1641.170000
18   上海    长沙  1147.920000
19   上海    青岛   886.320000
20   上海    黄山  1290.330000
21   北京    三亚  2760.400000
22   北京    丽江  1958.160000
23   北京  乌鲁木齐  2362.060000
24   北京   九寨沟  1953.740000
25   北京    厦门  1902.380000
26   北京   哈尔滨  1437.990000
27   北京    大理  3475.980000
28   北京    大连  1218.300000
29   北京   张家界  2249.930000
..   ..   ...          ...
283  重庆   哈尔滨  2079.270000
284  重庆    大理  1633.570000
285  重庆    大连  2121.070000
286  重庆    天津  1297.400000
287  重庆    桂林   984.650000
288  重庆    武汉  1068.950000
289  重庆    沈阳  1931.720000
290  重庆    西安  1040.830000
291  重庆    长春  1940.630000
292  重庆    青岛  1663.790000
293  重庆   鼓浪屿  1764.670000
294  长春    厦门  2425.807018
295  长春    青岛  1387.320000
296  青岛    丽江  2448.570000
297  青岛   九寨沟  1866.200000
298  青岛    北京  1190.900000
299  青岛    厦门  2320.330000
300  青岛   哈尔滨  1205.555556
301  青岛    大连   937.070000
302  青岛    天津   910.400000
303  青岛    承德  1191.010000
304  青岛    杭州   971.912500
305  青岛    桂林  1519.650000
306  青岛    武汉  1389.820000
307  青岛    沈阳  1001.720000
308  青岛    海口  1718.790000
309  青岛    深圳  1738.480000
310  青岛    西安  1185.940000
311  青岛    重庆  1547.290000
312  青岛    长沙  1804.010000

[313 rows x 3 columns]

In [89]:
#对df1 依据"出发地"和"目的地"两个字段分组,对价格的聚合方式为求均值,取消索引
df1.groupby(["出发地","目的地"],as_index=False).mean()

    出发地   目的地           价格
0    上海    三亚  1627.350000
1    上海    丽江  1981.490000
2    上海  乌鲁木齐  3223.760000
3    上海   九寨沟  1893.712500
4    上海    北京  1317.090000
5    上海    厦门  1322.670000
6    上海  呼和浩特  1561.230000
7    上海   哈尔滨  1352.990000
8    上海    大连  1258.300000
9    上海    太原  1412.790000
10   上海   张家界  2203.230000
11   上海    桂林  1325.830000
12   上海    武汉  1136.220000
13   上海    沈阳  1455.610000
14   上海   神农架  1264.580000
15   上海  西双版纳  3693.310000
16   上海    西安  1381.830000
17   上海    重庆  1641.170000
18   上海    长沙  1147.920000
19   上海    青岛   886.320000
20   上海    黄山  1290.330000
21   北京    三亚  2760.400000
22   北京    丽江  1958.160000
23   北京  乌鲁木齐  2362.060000
24   北京   九寨沟  1953.740000
25   北京    厦门  1902.380000
26   北京   哈尔滨  1437.990000
27   北京    大理  3475.980000
28   北京    大连  1218.300000
29   北京   张家界  2249.930000
..   ..   ...          ...
283  重庆   哈尔滨  2079.270000
284  重庆    大理  1633.570000
285  重庆    大连  2121.070000
286  重庆    天津  1297.400000
287  重庆    桂林   984.650000
288  重庆    武汉  1068.950000
289  重庆    沈阳  1931.720000
290  重庆    西安  1040.830000
291  重庆    长春  1940.630000
292  重庆    青岛  1663.790000
293  重庆   鼓浪屿  1764.670000
294  长春    厦门  2425.807018
295  长春    青岛  1387.320000
296  青岛    丽江  2448.570000
297  青岛   九寨沟  1866.200000
298  青岛    北京  1190.900000
299  青岛    厦门  2320.330000
300  青岛   哈尔滨  1205.555556
301  青岛    大连   937.070000
302  青岛    天津   910.400000
303  青岛    承德  1191.010000
304  青岛    杭州   971.912500
305  青岛    桂林  1519.650000
306  青岛    武汉  1389.820000
307  青岛    沈阳  1001.720000
308  青岛    海口  1718.790000
309  青岛    深圳  1738.480000
310  青岛    西安  1185.940000
311  青岛    重庆  1547.290000
312  青岛    长沙  1804.010000

[313 rows x 3 columns]

In [90]:
#对df_free 按照"出发地"和"目的地"两个字段汇总,对价格的聚合方式为求均值,不取消索引
df_free.groupby(["出发地","目的地"]).mean()

                   价格          节省
出发地 目的地
上海  三亚    1627.350000  444.390000
    丽江    1981.490000  569.380000
    乌鲁木齐  3223.760000  711.800000
    九寨沟   1893.712500  492.425000
    北京    1317.090000  344.650000
    厦门    1322.670000  339.510000
    呼和浩特  1561.230000  432.320000
    哈尔滨   1352.990000  357.960000
    大连    1258.300000  351.340000
    太原    1412.790000  433.600000
    张家界   2203.230000  539.200000
    桂林    1325.830000  351.800000
    武汉    1136.220000  335.930000
    沈阳    1455.610000  387.260000
    神农架   1264.580000  352.280000
    西双版纳  3693.310000  903.720000
    西安    1381.830000  408.000000
    重庆    1641.170000  471.760000
    长沙    1147.920000  349.570000
    青岛     886.320000  358.050000
    黄山    1290.330000  402.110000
北京  三亚    2760.400000  636.210000
    丽江    1958.160000  509.280000
    乌鲁木齐  2362.060000  624.260000
    九寨沟   1953.740000  533.140000
    厦门    1902.380000  505.570000
    哈尔滨   1437.990000  364.220000
    大理    3475.980000  965.420000
    大连    1218.300000  323.320000
    张家界   2249.930000  539.640000
...               ...         ...
重庆  哈尔滨   2079.270000  545.820000
    大理    1633.570000  475.260000
    大连    2121.070000  528.740000
    天津    1297.400000  346.790000
    桂林     984.650000  352.040000
    武汉    1068.950000  337.690000
    沈阳    1931.720000  513.480000
    西安    1040.830000  348.280000
    长春    1940.630000  487.850000
    青岛    1663.790000  435.730000
    鼓浪屿   1764.670000  483.610000
长春  厦门    2425.807018  615.438596
    青岛    1387.320000  390.080000
青岛  丽江    2448.570000  567.360000
    九寨沟   1866.200000  451.480000
    北京    1190.900000  335.300000
    厦门    2320.330000  561.510000
    哈尔滨   1205.555556  373.888889
    大连     937.070000  328.740000
    天津     910.400000  330.910000
    承德    1191.010000  339.350000
    杭州     971.912500  324.987500
    桂林    1519.650000  423.880000
    武汉    1389.820000  345.730000
    沈阳    1001.720000  323.020000
    海口    1718.790000  459.580000
    深圳    1738.480000  491.990000
    西安    1185.940000  345.640000
    重庆    1547.290000  427.220000
    长沙    1804.010000  457.510000

[313 rows x 2 columns]

### 2. 汇总一个大表，包含出发地——目的地，路线总数以及平均价格

In [106]:
df_free.head(2)

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,北京,厦门,1866,492,北京-厦门3天2晚 | 入住厦门温特雅酒店 + 联合航空/首都航空往返机票,厦门温特雅酒店 舒适型 3.9分/5分,标准房(大床)(预付) 大床 不含早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
1,北京,厦门,2030,492,北京-厦门3天2晚 | 入住厦门华美达长升大酒店 + 联合航空/首都航空往返机票,厦门华美达长升大酒店 4.1分/5分,标准房(错峰出游) 大/双床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15

In [103]:
# 依据df_free 的出发地和目的地两个字段分组,并对价格求均值,分组聚合结果赋值给new_df
new_df = df_free.groupby(["出发地","目的地"],as_index=False).mean()
new_df.head(3)

  出发地   目的地       价格      节省
0  上海    三亚  1627.35  444.39
1  上海    丽江  1981.49  569.38
2  上海  乌鲁木齐  3223.76  711.80

In [104]:
#删除分组后的"节省"列
del new_df["节省"]

In [118]:
new_df.head()

  出发地   目的地         价格
0  上海    三亚  1627.3500
1  上海    丽江  1981.4900
2  上海  乌鲁木齐  3223.7600
3  上海   九寨沟  1893.7125
4  上海    北京  1317.0900

In [105]:
#查看new_df的形状
new_df.shape

(313, 3)

In [97]:
#查看路线总数的表前五行
df_all.head()

  出发地  目的地  路线总数
0  北京   厦门   359
1  北京   青岛   471
2  北京   杭州  1228
3  北京   丽江  1160
4  北京  九寨沟   168

In [98]:
#查看路线总数表的形状
df_all.shape

(247, 3)

In [107]:
#将new_df表的索引设置为"出发地"和"目的地",并赋值给df2
df2 = new_df.set_index(["出发地","目的地"])

In [108]:
#将路线总数表的索引设置为"出发地"和"目的地",并赋值给df3
df3 = df_all.set_index(["出发地","目的地"])

In [119]:
df2.head()

                 价格
出发地 目的地
上海  三亚    1627.3500
    丽江    1981.4900
    乌鲁木齐  3223.7600
    九寨沟   1893.7125
    北京    1317.0900

In [120]:
df3.head()

         路线总数
出发地 目的地
北京  厦门    359
    青岛    471
    杭州   1228
    丽江   1160
    九寨沟   168

In [111]:
#讲df2和df3两个表通过合适的拼接方式进行拼接,并赋值给df4
df4 = pd.merge(df2,df3,left_on=["出发地","目的地"],right_on=["出发地","目的地"])
df4

                   价格  路线总数
出发地 目的地
上海  三亚    1627.350000   397
    丽江    1981.490000  1159
    乌鲁木齐  3223.760000   136
    九寨沟   1893.712500   168
    北京    1317.090000  1444
    厦门    1322.670000   357
    呼和浩特  1561.230000   125
    哈尔滨   1352.990000   285
    大连    1258.300000   242
    太原    1412.790000   212
    张家界   2203.230000    27
    桂林    1325.830000   576
    武汉    1136.220000   512
    沈阳    1455.610000   223
    神农架   1264.580000    29
    西双版纳  3693.310000    25
    西安    1381.830000   874
    重庆    1641.170000   898
    长沙    1147.920000   533
    青岛     886.320000   469
    黄山    1290.330000    59
北京  三亚    2760.400000   397
    丽江    1958.160000  1160
    乌鲁木齐  2362.060000   136
    九寨沟   1953.740000   168
    厦门    1902.380000   359
    哈尔滨   1437.990000   285
    大理    3475.980000   199
    大连    1218.300000   242
    张家界   2249.930000   144
...               ...   ...
重庆  三亚    1687.400000   399
    丽江    1200.570000  1159
    厦门    1764.670000   354
    呼和浩特  1453.730000   125
    哈尔滨   2079.270000   284
    大理    1633.570000   267
    大连    2121.070000   242
    天津    1297.400000   351
    桂林     984.650000   573
    武汉    1068.950000   517
    沈阳    1931.720000   226
    西安    1040.830000   874
    长春    1940.630000   128
    青岛    1663.790000   468
    鼓浪屿   1764.670000   354
青岛  丽江    2448.570000    73
    九寨沟   1866.200000   164
    厦门    2320.330000   354
    哈尔滨   1205.555556   284
    大连     937.070000   244
    天津     910.400000   351
    承德    1191.010000    90
    桂林    1519.650000   568
    武汉    1389.820000   517
    沈阳    1001.720000   226
    海口    1718.790000   252
    深圳    1738.480000  1152
    西安    1185.940000   876
    重庆    1547.290000   898
    长沙    1804.010000   538

[247 rows x 2 columns]

In [113]:
#查看df4的形状
df4.shape

(247, 2)

### 3. 查看出发地目的地的平均价格的透视分析

In [122]:
df_free.head(2)

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,北京,厦门,1866,492,北京-厦门3天2晚 | 入住厦门温特雅酒店 + 联合航空/首都航空往返机票,厦门温特雅酒店 舒适型 3.9分/5分,标准房(大床)(预付) 大床 不含早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15
1,北京,厦门,2030,492,北京-厦门3天2晚 | 入住厦门华美达长升大酒店 + 联合航空/首都航空往返机票,厦门华美达长升大酒店 4.1分/5分,标准房(错峰出游) 大/双床 双早 1间2晚,联合航空 KN5927,直飞,16:55-19:45,首都航空 JD5376,直飞,22:15-01:15

In [123]:
#依据df_free表制作数据透视表,行索引为"出发地",列索引为"目的地",聚合值为价格,聚合方式为求均值
pd.pivot_table(df_free,index = "出发地",columns="目的地",values="价格")

目的地,三亚,三亚湾,上海,丽江,乌鲁木齐,九寨沟,兰州,北京,北海,南京,...,西安,鄂尔多斯,重庆,银川,长春,长沙,陵水,青岛,黄山,鼓浪屿
出发地,,,,,,,,,,,,,,,,,,,,,
上海,1627.35,NaN,NaN,1981.49,3223.76,1893.7125,NaN,1317.090000,NaN,NaN,...,1381.83,NaN,1641.17,NaN,NaN,1147.920000,NaN,886.32,1290.33,NaN
北京,2760.40,NaN,NaN,1958.16,2362.06,1953.7400,NaN,NaN,NaN,NaN,...,1283.86,NaN,NaN,1025.14,NaN,1300.920000,NaN,1016.96,NaN,NaN
南京,1886.40,NaN,NaN,1775.49,NaN,1963.3500,NaN,NaN,1856.770000,NaN,...,966.83,NaN,1185.18,NaN,NaN,988.010000,2007.06,1058.79,NaN,NaN
厦门,1464.84,NaN,NaN,NaN,3018.21,2079.4800,NaN,1390.800000,NaN,NaN,...,1475.25,NaN,1462.29,NaN,NaN,1143.166667,NaN,NaN,NaN,NaN
哈尔滨,2102.84,NaN,NaN,NaN,NaN,1866.5300,NaN,NaN,2318.290000,1164.69697,...,1961.25,NaN,NaN,NaN,NaN,1831.000000,NaN,1296.54,NaN,NaN
大连,2955.01,NaN,1191.41,NaN,NaN,2115.2000,NaN,NaN,NaN,NaN,...,1104.94,NaN,1742.29,NaN,NaN,1680.010000,NaN,847.85,NaN,NaN
天津,2085.35,NaN,NaN,1654.49,NaN,1994.7000,NaN,NaN,2085.300000,NaN,...,984.89,NaN,1464.17,NaN,NaN,1183.920000,NaN,970.23,NaN,NaN
宁波,NaN,NaN,NaN,NaN,NaN,2067.2000,2552.84,NaN,NaN,NaN,...,1736.94,NaN,1686.29,NaN,NaN,1124.010000,NaN,1286.96,NaN,NaN
广州,1605.35,NaN,NaN,1890.32,NaN,1847.7400,NaN,2110.253333,NaN,NaN,...,1622.83,NaN,NaN,NaN,2980.91,1339.920000,NaN,NaN,1822.93,NaN
成都,1925.84,NaN,NaN,1196.57,2521.46,NaN,NaN,NaN,2506.444444,NaN,...,1724.25,1874.38,NaN,NaN,NaN,NaN,NaN,1862.42,NaN,2123.52
杭州,1839.35,NaN,NaN,2918.32,NaN,1952.7000,NaN,NaN,2910.000000,NaN,...,1242.89,NaN,1644.17,NaN,NaN,1160.920000,NaN,1049.23,NaN,NaN
武汉,1894.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1076.25,NaN,865.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN
沈阳,2878.84,NaN,NaN,3862.57,NaN,2013.5200,NaN,NaN,NaN,NaN,...,1622.30,NaN,1775.71,NaN,NaN,1880.000000,NaN,969.54,NaN,NaN
济南,1835.40,NaN,NaN,2305.49,NaN,1742.3500,NaN,1769.090000,NaN,NaN,...,1125.83,NaN,NaN,NaN,NaN,1145.010000,NaN,NaN,NaN,NaN
深圳,1391.35,NaN,NaN,1858.49,NaN,1762.7400,NaN,2032.900000,NaN,NaN,...,1838.04,NaN,NaN,NaN,2098.51,1673.920000,NaN,NaN,NaN,NaN
西安,1898.01,1898.01,NaN,1174.69,NaN,1611.5200,NaN,NaN,NaN,NaN,...,NaN,NaN,909.71,NaN,NaN,1170.000000,NaN,NaN,NaN,1450.83
重庆,1687.40,NaN,NaN,1200.57,NaN,NaN,NaN,NaN,1893.841270,NaN,...,1040.83,NaN,NaN,NaN,1940.63,NaN,NaN,1663.79,NaN,1764.67
长春,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1387.32,NaN,NaN
青岛,NaN,NaN,NaN,2448.57,NaN,1866.2000,NaN,1190.900000,NaN,NaN,...,1185.94,NaN,1547.29,NaN,NaN,1804.010000,NaN,NaN,NaN,NaN

### 4. 从杭州出发—目的地-去程方式-平均价格的数据透视表

In [124]:
#筛选出发地为"杭州"的所有数据,并把筛选后的数据赋值给dff
dff = df_free[df_free.出发地 == "杭州"]

In [125]:
#查看dff的形状
dff.shape

(2053, 13)

In [126]:
#制作数据透视表,行索引为目的地,列索引为去程方式,聚合值为价格求平均
pd.pivot_table(dff,index = "目的地",columns="去程方式",values="价格")

去程方式       直飞           经停
目的地
三亚    1839.35          NaN
丽江        NaN  2918.320000
九寨沟       NaN  1952.700000
北海        NaN  2910.000000
厦门    1208.38          NaN
呼和浩特      NaN  1557.570000
哈尔滨       NaN  1690.990000
大连    1710.09          NaN
天子山   1682.03          NaN
天津    1506.03          NaN
张家界   1682.03          NaN
成都        NaN  1898.811111
桂林    1438.98          NaN
武汉    1190.16          NaN
沈阳    1948.03          NaN
西双版纳      NaN  1716.310000
西宁        NaN  2851.820000
西安    1242.89          NaN
重庆    1644.17          NaN
长沙    1160.92          NaN
青岛    1049.23          NaN

In [127]:
#制作数据透视表前不对原表进行出发地的筛选,直接制作数据透视表
#对没有筛选过出发地的表格做数据透视表,直接把筛选出发地的代码放入其中
pd.pivot_table(df_free[df_free.出发地 == "杭州"],index = "目的地",columns="去程方式",values="价格")

去程方式       直飞           经停
目的地
三亚    1839.35          NaN
丽江        NaN  2918.320000
九寨沟       NaN  1952.700000
北海        NaN  2910.000000
厦门    1208.38          NaN
呼和浩特      NaN  1557.570000
哈尔滨       NaN  1690.990000
大连    1710.09          NaN
天子山   1682.03          NaN
天津    1506.03          NaN
张家界   1682.03          NaN
成都        NaN  1898.811111
桂林    1438.98          NaN
武汉    1190.16          NaN
沈阳    1948.03          NaN
西双版纳      NaN  1716.310000
西宁        NaN  2851.820000
西安    1242.89          NaN
重庆    1644.17          NaN
长沙    1160.92          NaN
青岛    1049.23          NaN

##  缺失值、异常值

In [129]:
data = pd.read_csv(r'D:\data\hz_weather.csv')
data.head()

           日期  最高气温  最低气温    天气   风向  风力
0  2017-01-01    17     7     晴  西北风  2级
1  2017-01-02    16     8    多云  东北风  2级
2  2017-01-03    15     8    多云  东北风  1级
3  2017-01-04    15    11    小雨  西北风  2级
4  2017-01-05    13    11  小到中雨   北风  2级

In [130]:
#查看data的缺失值情况
data.isnull().sum()

日期      0
最高气温    0
最低气温    0
天气      0
风向      0
风力      0
dtype: int64

In [156]:
#建立数据透视表,要求行索引为天气,列索引为风向,对最高气温求均值,并把生成的数据透视表赋值给data2
data2 = pd.pivot_table(data,index="天气",columns="风向",values="最高气温")
data2

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000    NaN  18.5  11.000000        NaN   NaN        NaN
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨        NaN    NaN   NaN  13.000000        NaN   NaN        NaN
小雨    13.500000  11.00  14.5   9.250000        NaN  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0        NaN
阵雨          NaN  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪         NaN    NaN   NaN   7.000000        NaN   NaN        NaN

In [132]:
#查看data2的缺失值情况
data2.isnull().sum()

风向
东北风    3
东南风    3
东风     2
北风     0
南风     4
西北风    3
西南风    4
dtype: int64

In [157]:
data2.isnull().mean()

风向
东北风    0.375
东南风    0.375
东风     0.250
北风     0.000
南风     0.500
西北风    0.375
西南风    0.500
dtype: float64

删除空值
可使用函数df.dropna,默认并不会改变原始数据

In [133]:
#删除缺失值,要求保留完整的行信息
data2.dropna()

风向        东北风    东南风    东风         北风         南风   西北风        西南风
天气
多云  14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
晴   10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000

In [134]:
#删除缺失值,要求保留完整的列信息
data2.dropna(axis=1)

风向           北风
天气
中雨    11.000000
多云    13.333333
小到中雨  13.000000
小雨     9.250000
晴     18.000000
阴     15.600000
阵雨    15.333333
雨夹雪    7.000000

缺失值的填充

In [135]:
# 使用特定字符串(missing)填充缺失值
data2.fillna("missing")

风向        东北风      东南风       东风         北风       南风      西北风      西南风
天气
中雨         11  missing     18.5  11.000000  missing  missing  missing
多云    14.1111    13.75       15  13.333333  24.3333       21  18.6667
小到中雨  missing  missing  missing  13.000000  missing  missing  missing
小雨       13.5       11     14.5   9.250000  missing       14       13
晴       10.25     15.8       18  18.000000       19       18     27.5
阴        13.5       16       13  15.600000       14       11  missing
阵雨    missing       21       26  15.333333       28       12     27.5
雨夹雪   missing  missing  missing   7.000000  missing  missing  missing

In [138]:
# 使用前一条记录的数据来代替缺失值
data2.fillna(method='ffill')

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000    NaN  18.5  11.000000        NaN   NaN        NaN
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨  14.111111  13.75  15.0  13.000000  24.333333  21.0  18.666667
小雨    13.500000  11.00  14.5   9.250000  24.333333  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0  27.500000
阵雨    13.500000  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪   13.500000  21.00  26.0   7.000000  28.000000  12.0  27.500000

In [139]:
# 要求使用前一条记录的数据填充缺失值,最大填充次数为1
data2.fillna(method='ffill',limit=1)

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000    NaN  18.5  11.000000        NaN   NaN        NaN
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨  14.111111  13.75  15.0  13.000000  24.333333  21.0  18.666667
小雨    13.500000  11.00  14.5   9.250000        NaN  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0  27.500000
阵雨    13.500000  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪         NaN  21.00  26.0   7.000000  28.000000  12.0  27.500000

In [140]:
# 用均值对缺失值进行填充
data2.fillna(data2.mean())

风向          东北风    东南风    东风         北风         南风   西北风        西南风
天气
中雨    11.000000  15.51  18.5  11.000000  21.333333  15.2  21.666667
多云    14.111111  13.75  15.0  13.333333  24.333333  21.0  18.666667
小到中雨  12.472222  15.51  17.5  13.000000  21.333333  15.2  21.666667
小雨    13.500000  11.00  14.5   9.250000  21.333333  14.0  13.000000
晴     10.250000  15.80  18.0  18.000000  19.000000  18.0  27.500000
阴     13.500000  16.00  13.0  15.600000  14.000000  11.0  21.666667
阵雨    12.472222  21.00  26.0  15.333333  28.000000  12.0  27.500000
雨夹雪   12.472222  15.51  17.5   7.000000  21.333333  15.2  21.666667

查找异常值

In [158]:
data.head()

           日期  最高气温  最低气温    天气   风向  风力    异常值
0  2017-01-01    17     7     晴  西北风  2级  False
1  2017-01-02    16     8    多云  东北风  2级  False
2  2017-01-03    15     8    多云  东北风  1级  False
3  2017-01-04    15    11    小雨  西北风  2级  False
4  2017-01-05    13    11  小到中雨   北风  2级  False

In [164]:
#规定异常值的取值范围,上限h为最高气温的均值+最高气温的1倍标准差,下限为最高气温的均值-最高气温的1倍标准差
h = data.最高气温.mean()+data.最高气温.std()
h

21.93232769547143

In [165]:
l = data.最高气温.mean()-data.最高气温.std()
l

9.152418067240438

In [166]:
#在原数据集中增加一列‘异常值’,如果最高气温低于下限l或者高于上限h则为异常值
data["异常值"] = (data["最高气温"] > h)|(data["最高气温"] < l)

In [167]:
#查看"异常值"列中分类情况以及每种分类有多少条记录
data["异常值"].value_counts()

False    71
True     47
Name: 异常值, dtype: int64

In [155]:
#查看异常的数据有哪些
data[data["异常值"] == True]

             日期  最高气温  最低气温   天气   风向  风力   异常值
9    2017-01-10     9     4   多云   北风  1级  True
10   2017-01-11     8     5   小雨   北风  1级  True
11   2017-01-12     7     4   小雨  西南风  1级  True
14   2017-01-15     8     2   多云  东北风  1级  True
15   2017-01-16     9     2   多云   东风  2级  True
17   2017-01-18     8     6   小雨  东北风  2级  True
18   2017-01-19     8     0   小雨   北风  3级  True
19   2017-01-20     6    -3    晴  东北风  3级  True
20   2017-01-21     7    -1   多云   北风  1级  True
21   2017-01-22     8    -2    晴  东北风  2级  True
22   2017-01-23     8    -1    晴  东南风  2级  True
23   2017-01-24     9     3   多云   东风  2级  True
29   2017-01-30     8     0   多云  东北风  3级  True
30   2017-01-31     8     3   多云   东风  2级  True
31   2017-02-01     7     2    阴   北风  3级  True
32   2017-02-02     8     4   多云  东南风  2级  True
38   2017-02-08     7     0  雨夹雪   北风  4级  True
39   2017-02-09     7    -1   多云   北风  4级  True
40   2017-02-10     8    -1   多云   北风  3级  True
41   2017-02-11     9     0    晴  东南风  1级  True
52   2017-02-22     8     3   小雨   北风  3级  True
53   2017-02-23     7     2    阴   北风  3级  True
54   2017-02-24     9     2   多云  东北风  1级  True
69   2017-03-13     9     5   中雨  东北风  3级  True
84   2017-03-28    22    12   多云  西南风  3级  True
89   2017-04-02    22    10    晴  东南风  2级  True
90   2017-04-03    23    12   多云   东风  4级  True
91   2017-04-04    25    15   多云   南风  4级  True
92   2017-04-05    26    16    阴   北风  4级  True
93   2017-04-06    27    18   中雨   东风  4级  True
95   2017-04-08    26    14   多云  东北风  4级  True
100  2017-04-13    23    11    晴   东风  4级  True
101  2017-04-14    28    16    晴   南风  3级  True
102  2017-04-15    31    17   多云   南风  3级  True
103  2017-04-16    30    21   阵雨  西南风  4级  True
104  2017-04-17    25    16   阵雨  西南风  3级  True
105  2017-04-18    29    16    晴   北风  3级  True
106  2017-04-19    28    18   阵雨   南风  4级  True
107  2017-04-20    25    16   多云   北风  6级  True
108  2017-04-21    23    12    阴   北风  4级  True
109  2017-04-22    23    12    晴  东南风  3级  True
110  2017-04-23    24    12    晴   东风  2级  True
111  2017-04-24    27    16    晴   东风  4级  True
112  2017-04-25    26    17   阵雨   东风  3级  True
115  2017-04-28    26    13    晴  西南风  2级  True
116  2017-04-29    29    15    晴  西南风  3级  True
117  2017-04-30    29    16   多云   东风  2级  True